* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background: #222222;
}

.UploadButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4488ff;
    cursor: pointer;
    min-width: 25px;
    width: 10%;
    border-radius: 100px;
    text-align: center;
    line-height: 25px;
    box-shadow: 0, 0, 10px, rgba(0, 0, 255, 0.5);
    z-index: 0;
}

#dropuploader {
    position: absolute;
    width: 90%;
    height: 90%;
    border-style: double;
    border-color: #444444;
    border-width: 5px;
    text-align: center;
}

#dropuploader span {
    color: #333333;
    font-size: 2em;
}

#imagedisplay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    min-height: 100vh;
    z-index: -10;
}
